body {
  background-color: black;

}
h1 {
  color: purple;
  text-align: center;
}
p {
  color: rgb(186, 134, 190);
  text-indent: 30px;
  margin: 30px;
}
#navigator {
    box-align: center;
    width: 100%;
  background: purple;
  color: #be7c01;

}
a {
  color: #be7c01;
  text-decoration: none;
  padding: 15px;
}
h2 {
  text-align: center;
  color: purple;
}
footer {
  color: white;
  text-align: center;
  font-size: small;
}
h3 {
  color: purple;
  text-align: center;
}
li {
  color: #be7c01;
  text-align: left;
  margin-left: 5px;
}
.container {
  background-color: black;
  display: flex;
  padding: 20px;
  margin: 20px;
  gap: 20px;
}
main {
  flex: 3;
  padding: 1rem;
}
.sidebar {
  flex: 1;
  background-color: #050505;
  padding: 1rem;
  border-left: 2px solid #be7c01;
}